/*Header section*/

*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 50px;
    background-color: black;
}
.main-header{
    padding-top: 14px;
    display: block;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.number-one{
    display: inline-block;
}
.number-two{
    display: inline-block;
}
.email{
    display: inline-block;
}
.languages{
    display: inline-block;
}
.lang{
    display: inline-block;
}
.none a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
    margin-right: 15px;
}
.languages{
    float: right;
}
.number-one__icon{
    display: inline-block;
    margin-right: 8px;
}
.number-two__icon{
    display: inline-block;
    margin-right: 8px;
}
.email__icon{
    display: inline-block;
}
.language__icon{
    display: inline-block;
    margin-right: 6px;
}
.language-one{
    margin-right: 5px;
    border-right: solid 2px #FFFFFF;
}
.language-two{
    margin-right: 5px;
    border-right: solid 2px #FFFFFF;
}

/*main section*/

.main{
    background-color: rgb(15, 12, 31);
    height: 70px;
}
.logo{
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 111.6px;
}
.main-navigation{
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0;
}
.main-navigation__item{
    display: inline-block;
    margin-right: 18px;
}
.main-navigation__item a{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
a{ text-decoration: none;
    color: #FFFFFF;
}
.uch{
    display: inline-block;
    color: #FFFFFF;
}
.button{
    width: 220px;
    height: 52px;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 18px;
}
.line-gredient{
    background-image: linear-gradient(rgb(134, 13, 13),red);
}

/*Creat section*/

.container-image{
    background-image: url(../img/images.jfif);
    width: 100%;
    height: 616.5px;
}
h1{
    display: inline;
}
.creat-web__title{
    margin-top: -20px;
}
.creat-web__subtitle{
    margin-top: -30px;
}
.creat-web__subtitle__two{
    margin-top: -25px;
}
.creat-title__web{
    color: red;
    font-family: 'Poppins', sans-serif;
    display: inline;
    font-size: 60px;
}
.web-creat h1{
    font-size: 60px;
}
.web-creat{
    position: relative;
    display: inline-block;
    font-size: 60px;
    color: #FFFFFF;
    letter-spacing:1px;
    line-height: 68px;
    margin-top: 120px;
    font-weight: bold;
}
.creat-title__web{
    margin-top: 400px;
    font-size: 50px;
}
.creat-ww{
    font-size: 60px;
    color: #FFFFFF;
}
.creat-subtitle{
    margin-top: 200px;
    font-size: 20px;
    margin-top: 30px;
    line-height: 35px;
    margin-top: 70px;
}
.creat-subtitle__two{
    font-size: 20px;
    line-height: 35px;
    margin-top: 40px;
}
.button__one{
    width: 300px;
    height: 65px;
    border-radius: 10px;
    margin-right: 50px;
    font-family: 'poppins' sans-serif;
}
.button__two {
    width: 300px;
    height: 65px;
    border-radius: 10px;
    font-family: 'Poppins' sans-serif;
}
.creat>div{
    width: 70% 30%;
    float: left;
}
.cards{
    position: relative;
    width: 43%;
    height: 540px;
    margin-top: 5px;
    font-size: 100px;
    color: blue;
    padding: 30px;
}
.card-one{
    position: absolute;
    left: 80px;
    top: 111px;
    width: 220px;
    height: 220px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    font-size: 20px;
    outline-style: dashed;
    outline-color: red;
    border-radius: 10px;
    font-family: 'Poppins' sans-serif;
}
.card-one__w{
    font-size: 50px;
    font-family: 'Poppins' sans-serif;
    font-weight: bold;
}
.card-two {
    position: absolute;
    left: 80px;
    bottom: 20px;
    width: 220px;
    height: 220px;
    padding-top: 25px;
    padding-bottom: 25x;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    font-size: 20px;
    outline-style: dashed;
    outline-color: red;
    border-radius: 10px;
    font-family: 'Poppins' sans-serif;
}
.card-three {
    position: absolute;
    left: 325px;
    bottom: 54px;
    width: 220px;
    height: 220px;
    padding-top: 42px;
    padding-bottom: 25x;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    font-size: 20px;
    outline-style: dashed;
    outline-color: red;
    border-radius: 10px;
    font-family: 'Poppins' sans-serif;
}
.card-img{
    position: absolute;
    right: 80px;
    top: 17px;
}
.clearfix{
    clear: both;
}

/*video-section*/

.video{
    width: 100%;
    height: 600px;
}
.check{
    display: inline-block;
    margin-right: 5px;
    color: rgb(212, 48, 48);
}
.gg-check-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 18px;
    border: 2.5px solid;
    border-radius: 100px;
}

.gg-check-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: 0;
    width: 3px;
    height: 10px;
    border-color: currentColor;
    border-width: 0 3px 3px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}
.video-word{
    display: inline-block;
}
#video-word-beginner{
    color: rgb(219, 55, 55);
    font-size: 50px;
    font-family: 'poppins' sans-serif;
    margin-bottom: 40px;
    margin-top: 80px;
    font-weight: bold;
}
#video-word__pf{
    margin-top: 80px;
    line-height: 54px;
    margin-bottom: 40px;
}
#video-word__pf p{
    color: rgb(99, 91, 91);
}
#video-word__one{
    color: rgb(99, 91, 91);
    font-size: 22px;
}
#video-word__two {
    color: rgb(99, 91, 91);
    font-size: 22px;
}
#video-word__three{
    color: rgb(99, 91, 91);
    font-size: 22px;
}
#video-word__four{
    color: rgb(99, 91, 91);
    font-size: 22px;
}
#video-word__five{
    color: rgb(99, 91, 91);
    font-size: 22px;
}
#video-word__footer{
    color: black;
    font-weight: bold;
    font-size: 34px;
    font-style: initial;
}
.video>div{
    width: 55% 45%;
    float: left;
}
.video-video{
    position: relative;
    text-align: center;
}
.video__video{
    position: absolute;
    left: 50px;
    top: 200px;
    width: 500px;
    display: inline-block;
}

/*Title section*/

.Title{
    margin-top: 90px;
    margin-top: 70px;
}
.red{
    display: inline-block;
    color: rgb(219, 55, 55);
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;
}
.black{
    display: inline-block;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

/*Cards section*/

.Card{
    margin-right: 52px;
    width: 280px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(236, 231, 231);
    height: 480px;
    border: 0.5px solid rgb(236, 231, 231);
    border-radius: 10px;
}
.Card:last-child{
    margin-right: 0;
    float: right;
}
.Card-title{
    height: 75px;
    padding-top: 18px;
    color: #FFFFFF;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}
.button__Card {
    color: #FFFFFF;
    font-size: 17px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-right: 50px;
    font-family: 'poppins' sans-serif;
}
.Card-sum{
    width: 100%;
    height: 135px;
    font-size: 50px;
    font-weight: bold;
    background-color: #FFFFFF;
    padding-top: 25px;
}
.Card-sum__w{
    color: red;
    font-size: 46px;
}
.Card-page{
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    height: 160px;
    padding-top: 40px;
    box-sizing: border-box;
}
.Card-page__v{
    font-size: 24px;
    font-weight: bold;
    color: rgb(107, 98, 98);
}
.Card-button{
    position: relative;
    text-align: center;
}
.button__Card{
    position: absolute;
    left: 15px;
    text-align: center;
}

/*Title-web*/
.Title-web{
    display: inline-block;
}
.Title-web h2{
    display: inline-block;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;
    margin-right: 15px;
}
.Title-web h1{
    font-size: 40px;
    color: red;
}
.button__Web{
    width: 200px;
    height: 35px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
}
.Web-title{
    margin-top: 50px;
}
.Web-title>div{
    width: 70% 30%;
    float: left;
}
.Web-button{
    position: relative;
    width: 41.25%;
    height: 100px;
}
.Web-button button{
    position: absolute;
    top:25%;
    right: 0;
    
}

.my-div-class{
    background-color:bisque;
    position: fixed;
    top: 100px;
    right: 50px;
    width: 500px;
    height: 500px;
    padding: 30px;
}
.input_js{
    width: 400px;
    height: 30px;
    margin: 10px auto;
    display: block;

}
